header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid black;
    margin: 1rem 0 2rem 0;
    padding-bottom: 1rem;
}

h1 {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    border:  0.1rem solid black;
    width: 50%;
}

.logo {
    width: 30%;
    height: 80%;
}

div {
    display: flex;
    flex-direction: row;
    height: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    border-top: 0.1rem solid black;
    justify-content: space-between;
    align-items: center;
}
