header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1rem solid black;
    margin: 1rem 0 2rem 0;
    padding-bottom: 1rem;
    height: 20%;
}

h1 {
    font-size: 150%;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

h2 {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 150%;
}

p {
    padding-right: 2rem;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border:  0.1rem solid black;
    width: 50%;
    margin-bottom: 3rem;
}

.logo {
    transform: scale(0.5); 
    transform-origin: top left;
}

.icone {
    transform: scale(0.5); 
    transform-origin: top left;
}

nav {
    height: 20%;
}

.seta {
    height: 40;
}

div {
    display: flex;
    flex-direction: row;
    height: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    border-top: 0.1rem solid black;
    justify-content: space-between;
    align-items: center;
}
